/**
 * Headings
 * -------------------------------------------------------------------------- */

.vp-page h1,
.vp-page h2,
.vp-page h3,
.vp-page h4,
.vp-page h5,
.vp-page h6 {
  position: relative;
  font-weight: 600;
  outline: none;
}

.vp-page h1 {
  margin: 16px 0;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
}

.vp-page h2 {
  margin: 48px 0 16px;
  border-top: 1px solid var(--vp-c-divider);
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

.vp-page h3 {
  margin: 32px 0 0;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .vp-page h1 {
    letter-spacing: -0.02em;
    line-height: 40px;
    font-size: 32px;
  }
}

/**
  * Paragraph and inline elements
  * -------------------------------------------------------------------------- */

.vp-page p,
.vp-page summary {
  margin: 16px 0;
}

.vp-page p {
  line-height: 28px;
}

.vp-page strong {
  font-weight: 600;
}

/**
  * Lists
  * -------------------------------------------------------------------------- */

.vp-page ul,
.vp-page ol {
  padding-left: 1.25rem;
  margin: 16px 0;
}

.vp-page ul {
  list-style: disc;
}

.vp-page ol {
  list-style: decimal;
}

.vp-page li+li {
  margin-top: 8px;
}

.vp-page li>ol,
.vp-page li>ul {
  margin: 8px 0 0;
}

/**
  * Table
  * -------------------------------------------------------------------------- */

.vp-page table {
  display: block;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
}

.vp-page tr {
  border-top: 1px solid var(--vp-c-divider);
  transition: background-color 0.5s;
}

.vp-page tr:nth-child(2n) {
  background-color: var(--vp-c-bg-soft);
}

.vp-page th,
.vp-page td {
  border: 1px solid var(--vp-c-divider);
  padding: 8px 16px;
}

.vp-page th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: var(--vp-c-text-2);
  background-color: var(--vp-c-bg-soft);
}

.vp-page td {
  font-size: 14px;
}

/**
  * Decorational elements
  * -------------------------------------------------------------------------- */

.vp-page hr {
  margin: 16px 0;
  border: none;
  border-top: 1px solid var(--vp-c-divider);
}


/**
 * Component: Button
  * -------------------------------------------------------------------------- */

  .vp-page .vp-button {
    display: inline-block;
    border: 1px solid transparent;
    text-align: center;
    font-weight: 600;
    white-space: nowrap;
    transition: color 0.25s, border-color 0.25s, background-color 0.25s;
  }
  
  .vp-page .vp-button:active {
    transition: color 0.1s, border-color 0.1s, background-color 0.1s;
  }
  
  .vp-page .vp-button.medium {
    border-radius: 20px;
    padding: 0 20px;
    line-height: 38px;
    font-size: 14px;
  }
  
  .vp-page .vp-button.big {
    border-radius: 24px;
    padding: 0 24px;
    line-height: 46px;
    font-size: 16px;
  }
  
  .vp-page .vp-button.brand {
    border-color: var(--vp-button-brand-border);
    color: var(--vp-button-brand-text);
    background-color: var(--vp-button-brand-bg);
  }
  
  .vp-page .vp-button.brand:hover {
    border-color: var(--vp-button-brand-hover-border);
    color: var(--vp-button-brand-hover-text);
    background-color: var(--vp-button-brand-hover-bg);
  }
  
  .vp-page .vp-button.brand:active {
    border-color: var(--vp-button-brand-active-border);
    color: var(--vp-button-brand-active-text);
    background-color: var(--vp-button-brand-active-bg);
  }
  
  .vp-page .vp-button.alt {
    border-color: var(--vp-button-alt-border);
    color: var(--vp-button-alt-text);
    background-color: var(--vp-button-alt-bg);
  }
  
  .vp-page .vp-button.alt:hover {
    border-color: var(--vp-button-alt-hover-border);
    color: var(--vp-button-alt-hover-text);
    background-color: var(--vp-button-alt-hover-bg);
  }
  
  .vp-page .vp-button.alt:active {
    border-color: var(--vp-button-alt-active-border);
    color: var(--vp-button-alt-active-text);
    background-color: var(--vp-button-alt-active-bg);
  }
  
  .vp-page .vp-button.sponsor {
    border-color: var(--vp-button-sponsor-border);
    color: var(--vp-button-sponsor-text);
    background-color: var(--vp-button-sponsor-bg);
  }
  
  .vp-page .vp-button.sponsor:hover {
    border-color: var(--vp-button-sponsor-hover-border);
    color: var(--vp-button-sponsor-hover-text);
    background-color: var(--vp-button-sponsor-hover-bg);
  }
  
  .vp-page .vp-button.sponsor:active {
    border-color: var(--vp-button-sponsor-active-border);
    color: var(--vp-button-sponsor-active-text);
    background-color: var(--vp-button-sponsor-active-bg);
  }
  
  /**
   * Component: Input
    * -------------------------------------------------------------------------- */
  .vp-page .vp-field {
    border: 1px solid var(--vp-c-border);
    border-radius: 8px;
    padding: 6px 12px;
    margin: 8px 0;
    width: 100%;
    transition: box-shadow .25s ease;
    letter-spacing: .2px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .vp-page .vp-field:focus {
    box-shadow: 0 0 4pt var(--vp-c-brand);
  }
  
  .vp-page .vp-field-label {
    letter-spacing: .2px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
  }

  .vp-field-group {
    padding: 5px 0;
  }


.vp-page .container {
  padding: 0 24px;
}

@media (min-width: 768px) {
  .vp-page .container {
    padding: 0 32px;
  }
}